
/src/db.db/

.DS_store

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###
### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Recycle Bin used on file shares
$RECYCLE.BIN/
*.csv

# For Go
#
# # Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

